{erl_opts, [
]}.

{sub_dirs, [
   "rel" 
]}.

{lib_dirs, ["deps", "apps"]}.
{cover_enabled, true}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }

  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }
   
  ,{dive, ".*",
      {git, "git.cloud:/mnt/vol1/git/dive.git",   {branch, master}}
   }
]}.
