{erl_opts, [
]}.

{sub_dirs, [
   "rel" 
]}.

{lib_dirs, ["deps", "apps"]}.
{cover_enabled, true}.
{eunit_opts, [
   no_tty,  {report, {eunit_progress, [colored, profile]}}
]}.

{deps, [
   {feta, ".*",
      {git, "https://github.com/fogfish/feta", {branch, master}}
   }

  ,{uid, ".*",
      {git, "https://github.com/fogfish/uid", {branch, master}}
   }

  ,{datum, ".*",
      {git, "https://github.com/fogfish/datum", {branch, master}}
   }
   
  ,{dive, ".*",
      {git, "ssh://git.cloud:/mnt/vol1/git/dive.git",   {branch, master}}
   }

  ,{eunit_formatters, ".*", 
      {git, "https://github.com/seancribbs/eunit_formatters", {branch, master}}
   }
]}.
